---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.language-switcher {
  select {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #d1d5da;
    background-color: white;
    color: inherit;
    font-size: 14px;
    cursor: pointer;
    
    &:hover {
      border-color: #959da5;
    }
    
    &:focus {
      outline: none;
      border-color: #0366d6;
      box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.1);
    }
  }
}

// Dark mode support
[style*="background-color: #2f363d"] .language-switcher select {
  background-color: #2f363d;
  border-color: #586069;
  color: white;
  
  &:hover {
    border-color: #6a737d;
  }
  
  &:focus {
    border-color: #0366d6;
  }
}
